* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: rgb(0, 0, 0);
}
#wrapper {
    display: grid;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    gap: 10px;
    width: 80vw;
    height: 80vh;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-template-areas: "color-1 color-2 color-3 color-4 color-5"
                         "color-6 color-7 color-8 color-9 color-10"
                         "color-11 color-12 color-13 color-14 color-15";
}
.box {
    position: relative;
    width: 200px;
    height: 200px;
    background: rgba(0, 0, 0, 0.5);
    border-radius: 15px;
    overflow: hidden;
}
.box::before {
    content: '';
    position: absolute;
    inset: -40px 60px;
    background: linear-gradient(315deg, #00ccff, #d400d4);
    transition: 0.5s;
    animation: animate 4s linear infinite;
}
.box:hover:before {
    inset: -40px;
}
.box::after {
    content: '';
    position: absolute;
    inset: 6px;
    background: white;
    border-radius: 15px;

}
h2 {
    position: absolute;
    bottom: 20px;
    left: 50px;
    z-index: 10;
}
.color-box {
    z-index: 1;
    position: absolute;
    top: 6px;
    left: 6px;
    width: 188px;
    height: 188px;
    border-radius: 13px;
    background: #ffffff;
    border: 6px solid rgb(0, 0, 0);
    font-size: 18px;
    font-weight: bold;
    color: white;
    text-shadow: 2px 2px black;
}
button {
    border: none;
    outline: none;
    margin-top: 70px;
    margin-left: -20px;
    width: 200px;
    height: 40px;
    background: linear-gradient(315deg, #00ccff, #d400d4);
    border-radius: 4px;
    border: 1px solid white;
    color: black;
    font-weight: bold;
}
@keyframes animate {
    0% {
        transform: rotate(0deg);
    }
    0% {
        transform: rotate(360deg);
    }
}